<?xml version="1.0" encoding="utf-8"?>
<settings>
  <setting label="30001" type="action" action="RunScript(screensaver.plugin.slideshow,choosestream)" id="path"/>
  <setting label="30002" type="enum" id="time" default="4" values="1|2|3|4|5|6|7|8|9|10"/>
  <setting label="30003" type="slider" id="level" range="0,1,100" option="percent" default="100"/>
  <setting label="30004" type="enum" id="effect" default="2" lvalues="30006|30007|30005"/>
  <setting id="randomize" type="bool" label="30012" default="true" />
  <setting id="onstart" type="bool" label="30010" default="false" />
</settings>
